/* god theme: Call me to include god in your SASS projects.*/

body > h1,
main > h1 {
  font-size: 300%;
}

body > h2,
main > h2 {
  font-size: 225%;
}

body > h3,
main > h3 {
  font-size: 180%;
}

body > h4,
main > h4 {
  font-size: 150%;
}

body > h5,
main > h5 {
  font-size: 135%;
}

body > h6,
main > h6 {
  font-size: 120%;
}

body > h1,
body > h2,
body > h3,
body > h4,
body > h5,
body > h6,
body > p,
body > ul,
body > ol,
body > dl,
body > table,
body > form,
body > section,
body > details,
main > h1,
main > h2,
main > h3,
main > h4,
main > h5,
main > h6,
main > p,
main > ul,
main > ol,
main > dl,
main > table,
main > form,
main > section,
main > details {
  box-sizing: border-box;
  display: block;
  float: none;
  margin-block-end: 0;
  margin-block-start: 0;
  margin-left: 25% !important;
  margin-right: 25% !important;
  padding: 18px 1%;
}

@media screen and (min-width: 601px) and (max-width: 900px) {
  body > h1,
  body > h2,
  body > h3,
  body > h4,
  body > h5,
  body > h6,
  body > p,
  body > ul,
  body > ol,
  body > dl,
  body > table,
  body > form,
  body > section,
  body > details,
  main > h1,
  main > h2,
  main > h3,
  main > h4,
  main > h5,
  main > h6,
  main > p,
  main > ul,
  main > ol,
  main > dl,
  main > table,
  main > form,
  main > section,
  main > details {
    margin-block-end: 0;
    margin-block-start: 0;
    margin-left: 20% !important;
    margin-right: 20% !important;
  }
}

@media screen and (max-width: 600px) {
  body > h1,
  body > h2,
  body > h3,
  body > h4,
  body > h5,
  body > h6,
  body > p,
  body > ul,
  body > ol,
  body > dl,
  body > table,
  body > form,
  body > section,
  body > details,
  main > h1,
  main > h2,
  main > h3,
  main > h4,
  main > h5,
  main > h6,
  main > p,
  main > ul,
  main > ol,
  main > dl,
  main > table,
  main > form,
  main > section,
  main > details {
    margin-block-end: 0;
    margin-block-start: 0;
    margin-left: 18px !important;
    margin-right: 18px !important;
    padding: 3px;
  }
}

body > aside,
main > aside {
  box-sizing: border-box;
  display: inline-block;
  margin-left: 0 !important;
  margin-right: 0 !important;
  padding: 18px 1%;
  width: 24% !important;
  break-before: always !important;
  /* give way on right */
  clear: right;
  float: right;
  margin-left: 1% !important;
  border: 1px solid #2E2C51;
}

@media screen and (min-width: 601px) and (max-width: 900px) {
  body > aside,
  main > aside {
    width: 26.45% !important;
  }
}

@media screen and (min-width: 1201px) {
  body > aside,
  main > aside {
    width: 23.265% !important;
  }
}

body > nav,
main > nav {
  display: inline-block;
  margin: 0;
  width: 24% !important;
  clear: left;
  float: left;
  margin-right: 1% !important;
  box-sizing: border-box;
  border: none;
  padding: 0;
  background: #000 !important;
  position: sticky;
}

@media screen and (min-width: 601px) and (max-width: 900px) {
  body > nav,
  main > nav {
    full: 2.45%;
    width: 26.45% !important;
  }
}

@media screen and (min-width: 1201px) {
  body > nav,
  main > nav {
    full: 2.45%;
    width: 23.265% !important;
  }
}

@media screen and (max-width: 600px) {
  body > aside,
  body > nav,
  main > aside,
  main > nav {
    box-sizing: border-box;
    display: inline-block;
    margin-left: 0 !important;
    margin-right: 0 !important;
    padding: 18px 1%;
    width: 100% !important;
    display: block !important;
    float: none !important;
    text-align: left;
  }
}

@media screen and (min-width: 601px) and (max-width: 900px) {
  body > aside,
  body > nav,
  main > aside,
  main > nav {
    margin-bottom: 23.4px !important;
  }
}

@media screen and (min-width: 901px) and (max-width: 1200px) {
  body > aside,
  body > nav,
  main > aside,
  main > nav {
    margin-bottom: 28.8px !important;
  }
}

@media screen and (min-width: 1201px) {
  body > aside,
  body > nav,
  main > aside,
  main > nav {
    margin-bottom: 34.2px !important;
  }
}

body > ol > li,
main > ol > li {
  margin-left: 18px !important;
}

body > ol > li > *,
main > ol > li > * {
  display: inline;
}

@media screen and (max-width: 900px) {
  body > ol > li,
  main > ol > li {
    list-style: inside;
  }
}

body > ul > li,
main > ul > li {
  margin-left: 18px !important;
}

body > ul > li > *,
main > ul > li > * {
  display: inline;
}

@media screen and (max-width: 900px) {
  body > ul > li,
  main > ul > li {
    list-style: inside;
  }
}

/* eve theme: Call me to include eve in your SASS projects.*/

/* adon theme: Call me to include adon in your SASS projects.*/

body > .adonStatus-disabled,
main > .adonStatus-disabled {
  background: #a9a9a9;
  border: 0;
  color: #d3d3d3;
}

body > .adonStatus-error,
main > .adonStatus-error {
  background: red;
  border: 0;
  color: #000;
}

body > .adonStatus-fixed,
main > .adonStatus-fixed {
  position: fixed;
}

body > .adonStatus-sticky,
main > .adonStatus-sticky {
  position: sticky;
}

@media screen and (min-width: 901px) and (max-width: 1200px) {
  body > .adonStatus-sticky,
  main > .adonStatus-sticky {
    position: relative;
  }

  body > .adonStatus-fixed,
  main > .adonStatus-fixed {
    position: relative;
  }
}

body > .adonToolBar,
main > .adonToolBar {
  height: 48px !important;
  max-height: 48px !important;
  min-height: 48px !important;
  cursor: pointer;
  margin-top: 18px !important;
  margin-bottom: 0 !important;
  padding-top: 18px !important;
  padding-bottom: 18px !important;
  transition: all 0.5s ease-in-out;
}

@media screen and (max-width: 900px) {
  body > .adonToolBar,
  main > .adonToolBar {
    height: 32px !important;
    max-height: 32px !important;
    min-height: 32px !important;
    width: 32px !important;
    max-width: 32px !important;
    min-width: 32px !important;
    text-align: center !important;
  }
}

body > .adonToolBar.slavehidden,
main > .adonToolBar.slavehidden {
  margin-top: 18px !important;
  background-color: #000 !important;
}

body > .adonToolSlave,
main > .adonToolSlave {
  margin-top: 0 !important;
  opacity: 1;
  transition: visibility 0.5s linear 0s, all 0.5s;
  visibility: visible;
}

body > .adonToolSlave.slavehidden,
main > .adonToolSlave.slavehidden {
  height: 0 !important;
  max-height: 0 !important;
  min-height: 0 !important;
  opacity: 0;
  overflow: hidden;
  padding: 0 0  !important;
  line-height: 0;
  transition: visibility 0s linear 0.5s, all 0s;
  transition-timing-function: ease;
  visibility: hidden;
}

body > aside.adonToolBar,
main > aside.adonToolBar {
  text-align: right !important;
}

@media screen and (max-width: 900px) {
  body > aside.adonToolBar,
  main > aside.adonToolBar {
    float: right !important;
    text-align: center !important;
  }
}

@media screen and (max-width: 900px) {
  body > .adonHideOnScrollDown,
  main > .adonHideOnScrollDown {
    transition: all 0.5s;
    transition-timing-function: ease-in;
    -webkit-transition: all 0.5s;
    -webkit-transition-timing-function: ease-in;
  }

  body > .adonHideOnScrollDown.adonHide,
  main > .adonHideOnScrollDown.adonHide {
    position: absolute;
    position: -webkit-absolute;
    top: -500px;
  }
}

body > .adonNavScrollLink,
main > .adonNavScrollLink {
  cursor: pointer !important;
}

body > .adonNavScrollLink.adonnavactive,
main > .adonNavScrollLink.adonnavactive {
  background-color: #000 !important;
  color: #fff;
}

/* innocent theme: Call me to include innocent in your SASS projects.*/

body {
  font-family: serif;
}

body > menu,
main > menu {
  box-sizing: border-box;
  position: relative;
  border: none;
  margin: 0;
  padding: 0;
  background: #000;
  position: sticky;
  z-index: 5000;
}

body > menu:after,
main > menu:after {
  clear: both;
  content: '';
  display: block;
  height: 0;
  width: 0;
}

body > menu *,
main > menu * {
  box-sizing: border-box;
}

body > menu a,
main > menu a {
  text-decoration: none;
}

body > menu label,
main > menu label {
  font-weight: bold;
}

body > menu a,
body > menu label,
main > menu a,
main > menu label {
  cursor: pointer;
  display: block;
  white-space: nowrap;
  padding: 3px 18px;
  color: #fff;
}

body > menu menu,
body > menu nav,
main > menu menu,
main > menu nav {
  margin: 0;
  padding: 0;
}

body > menu menu > label + menu,
body > menu menu > label + nav,
body > menu nav > label + menu,
body > menu nav > label + nav,
main > menu menu > label + menu,
main > menu menu > label + nav,
main > menu nav > label + menu,
main > menu nav > label + nav {
  display: none;
}

body > menu menu:hover > label + menu,
body > menu menu:hover > label + nav,
body > menu nav:hover > label + menu,
body > menu nav:hover > label + nav,
main > menu menu:hover > label + menu,
main > menu menu:hover > label + nav,
main > menu nav:hover > label + menu,
main > menu nav:hover > label + nav {
  display: inherit;
  position: absolute;
}

body > menu > a,
body > menu > menu,
body > menu > nav,
main > menu > a,
main > menu > menu,
main > menu > nav {
  float: left;
}

body > nav:after,
main > nav:after {
  clear: both;
  content: '';
  display: block;
  height: 0;
  width: 0;
}

body > nav *,
main > nav * {
  box-sizing: border-box;
}

body > nav a,
main > nav a {
  text-decoration: none;
  display: block;
}

body > nav label,
main > nav label {
  font-weight: bold;
}

body > nav a,
body > nav label,
main > nav a,
main > nav label {
  cursor: pointer;
  display: block;
  white-space: nowrap;
  color: #fff !important;
  padding: 3px;
}

body > nav menu,
body > nav nav,
main > nav menu,
main > nav nav {
  margin: 0;
  padding: 0;
  position: relative;
}

body > nav menu > label + menu,
body > nav menu > label + nav,
body > nav nav > label + menu,
body > nav nav > label + nav,
main > nav menu > label + menu,
main > nav menu > label + nav,
main > nav nav > label + menu,
main > nav nav > label + nav {
  display: none;
}

body > nav menu:hover > label + menu,
body > nav menu:hover > label + nav,
body > nav nav:hover > label + menu,
body > nav nav:hover > label + nav,
main > nav menu:hover > label + menu,
main > nav menu:hover > label + nav,
main > nav nav:hover > label + menu,
main > nav nav:hover > label + nav {
  display: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Montserrat";
}

details {
  background: #5d59a4;
  border: #2E2C51 1px solid;
  color: #000;
  padding: 0;
}

details summary {
  background: #2E2C51;
  border: 0;
  color: #fff;
  font-family: "Montserrat";
  cursor: pointer;
}

details > * {
  padding: 3px 18px;
}

dl {
  padding-bottom: 18px;
  padding-top: 18px;
}

dl > dt {
  font: 800 1.95em "Montserrat";
  padding-top: 18px;
}

dl > dd {
  margin-left: 0;
  padding-bottom: 18px;
}

figure {
  border: 1px #5d59a4 solid;
  box-sizing: border-box;
  padding: 18px 18px  !important;
}

figure img {
  box-sizing: border-box;
  height: auto;
  width: 100%;
}

figure figcaption {
  color: #000;
  font-family: "Montserrat";
  margin-top: 18px;
}

@media screen and (max-width: 600px) {
  figure {
    margin-left: 1% !important;
    margin-right: 1% !important;
    width: 98% !important;
  }
}

form label {
  margin-top: 18px;
}

form legend {
  font-size: 1.95em;
  font-weight: bold;
  margin-bottom: 1%;
  margin-top: 1%;
}

form label,
form legend {
  color: #2E2C51;
  font-family: "Montserrat";
}

form textarea {
  width: 100%;
}

form input[type='checkbox'],
form input[type='radio'] {
  margin-right: 3px;
}

form input[type='checkbox'] + label,
form input[type='radio'] + label {
  color: #2E2C51;
  font-family: "Montserrat";
  display: inline-block;
  margin-right: 18px;
  page-break-before: avoid;
}

form fieldset {
  border: 1px #5d59a4 solid;
  margin-top: 18px;
  padding: 0 18px;
}

form fieldset label {
  display: block;
}

form fieldset button,
form fieldset input,
form fieldset select,
form fieldset textarea {
  box-sizing: border-box;
  margin-bottom: 18px;
}

form fieldset input[type='email'],
form fieldset input[type='number'],
form fieldset input[type='password'],
form fieldset input[type='search'],
form fieldset input[type='tel'],
form fieldset input[type='text'],
form fieldset input[type='url'],
form fieldset select,
form fieldset textarea {
  box-sizing: border-box;
  padding: 3px;
  width: 100%;
}

form fieldset input:not([type]) {
  box-sizing: border-box;
  padding: 3px;
  width: 100%;
}

form fieldset input[type='color'],
form fieldset input[type='range'] {
  display: inline-block;
  margin-bottom: 18px;
  vertical-align: middle;
}

form fieldset input[type='date'],
form fieldset input[type='time'],
form fieldset input[type='datetime'],
form fieldset input[type='datetime-local'],
form fieldset input[type='month'],
form fieldset input[type='week'] {
  margin-bottom: 18px;
}

form fieldset button,
form fieldset input[type='submit'],
form fieldset input[type='reset'] {
  cursor: pointer;
}

@media screen and (max-width: 600px) {
  form {
    margin-left: 1% !important;
    margin-right: 1% !important;
    width: 98%;
  }
}

header {
  font-size: 1.95em;
  padding: 1%;
  text-align: center;
}

header h1,
header h2,
header h3,
header h4,
header h5,
header h6 {
  margin-bottom: 18px;
  margin-top: 18px;
}

hr {
  border: 1px #5d59a4 solid;
  margin-bottom: 18px;
  margin-top: 18px;
}

img {
  height: auto;
  padding-left: 0 !important;
  padding-right: 0 !important;
}

@media screen and (max-width: 900px) {
  img {
    margin-left: 1% !important;
    margin-right: 1% !important;
  }
}

pre {
  background: #5d59a4;
  border: 0;
  color: #000;
  overflow-x: scroll;
  margin-top: 1%;
  padding-top: 1%;
  padding-bottom: 1%;
  white-space: pre;
  word-break: keep-all;
}

@media screen and (max-width: 600px) {
  pre {
    margin-left: 1% !important;
    margin-right: 1% !important;
    width: 98% !important;
  }
}

table {
  display: table !important;
  text-align: left;
}

table td,
table th {
  padding: 3px 18px;
}

table > thead th,
table > tfoot th,
table > tbody th {
  color: #000;
  font-family: "Montserrat";
  font-weight: 800;
}

table > thead th {
  border-bottom: 1px solid #5d59a4;
}

table > tfoot th {
  border-top: 1px solid #5d59a4;
  text-align: right;
}

table > tbody td,
table > tbody th {
  border-bottom: 1px solid #5d59a4;
}

@media screen and (max-width: 600px) {
  table {
    margin-left: 1% !important;
    margin-right: 1% !important;
    width: 98%;
  }
}

a {
  text-decoration: none;
}

big {
  font-size: 1.95em;
}

input[type='file'],
button {
  background: #fff;
  color: #000;
  border-radius: 5px;
  border: 1px #5d59a4 solid;
  cursor: pointer;
  display: inline-block;
  font-size: 120%;
  padding: 3px 18px;
  text-decoration: none;
}

input[type='file'] > img,
button > img {
  max-height: 88px;
  width: auto;
}

input[type='file']:hover,
input[type='file'].selected,
input[type='file'].active,
button:hover,
button.selected,
button.active {
  background: #000;
  border: 1px #5d59a4 solid;
  color: #fff;
}

input[type='file']:disabled,
button:disabled {
  background: #000;
  color: #fff;
  border: 0;
  cursor: not-allowed;
}

input[type='file'] big,
button big {
  font-weight: bold;
  vertical-align: middle;
}

code {
  background: rgba(93, 89, 164, 0.3);
  border: 0;
  color: #000;
  padding: 0 3px;
  word-break: keep-all;
}

pre > code {
  background: inherit;
  border: 0;
  color: inherit;
  overflow-x: scroll;
  white-space: pre;
}

kbd {
  background: #000;
  border: 0;
  color: #fff;
  border-radius: 6px;
  padding: 3px 18px;
}

small {
  font-size: 1.95em;
}

body >,
main > {
  font-family: 'Montserrat';
}

body > form label span,
main > form label span {
  color: grey;
  font-size: 120%;
}

body > menu nav,
main > menu nav {
  background: #000;
}

body > menu a:hover,
main > menu a:hover {
  background: #5d59a4;
  color: #000;
}

body > menu a.active,
main > menu a.active {
  background: #2E2C51;
  font-weight: bold;
}

body > nav menu:hover > label,
body > nav nav:hover > label,
body > nav label.active,
body > nav a:hover,
main > nav menu:hover > label,
main > nav nav:hover > label,
main > nav label.active,
main > nav a:hover {
  background: #5d59a4;
  color: #000 !important;
}

body > nav a.active,
main > nav a.active {
  background: #2E2C51;
  font-weight: bold;
}

button {
  background: #2E2C51;
  color: #fff;
  font-size: 1.95em;
  font-weight: bold;
}

body > pre,
main > pre {
  background: #fff;
  padding: 18px;
  text-align: center;
}
/*# sourceMappingURL=revelation.css.map */
