{% load dna_tags %}

<main
  itemscope="itemscope"
  itemtype="http://schema.org/{{ thing_name }}">


  {% if many %}
    {% include "revelation/_comments.html" %}
  {% endif %}

  {% for field_name, url, height, width in object.get_images %}
    {% if url == "None" %}
      {# nothing to see here #}
    {% elif url %}
      <figure>
        <image
          itemprop="{{ field_name }}"
          src="{{ url }}"
          height="{{ height }}"
          width="{{ width }}"/>
        <figurecaption>{{ object.name }}</figurecaption>
      </figure>
    {% endif %}
  {% endfor %}

  {% if object.name %}
    <h1 itemprop="name">{{ object.name }}</h1>
  {% endif %}

  {% if object.alternateName %}
    <h2 itemprop="name">{{ object.alternateName }}</h2>
  {% endif %}

  {{ object.text|safe }}


</main>
