{% load dna_tags %}
{% for prop_name, many_things in many.items %}
  <aside itemprop="{{ prop_name }}">
    {{ prop_name }}
    <a
      href="{% url 'many.things' page_slug thing_name object.pk prop_name %}">
      [+]
    </a>
  </aside>

  {% for many in many_things %}
  <aside
    itemscope="itemscope"
    itemtype="http://schema.org/{{ many.listed_thing }}">

    {{ many.many_listed.description }}


    <a
      href="{% url 'engage.thing' page_slug many.listed_thing many.many_listed.pk %}"
      itemprop="name">More &raquo;</a>
  </aside>
  {% endfor %}
{% endfor %}
