<form method="post">
  {% csrf_token %}
  <p>Are you sure you want to delete "{{ object }}"?</p>
  <button type="submit">Confirm</button>
  <a href="{{ object.get_absolute_url }}">
    <button type="button">Cancel</button>
  </a>
</form>
