
  {% for thing in object_list %}
      <a
        href="{% url 'engage.thing' page_slug thing_name thing.pk %}"
        itemprop="name">{{ thing.name }}&raquo;</a>

    {% empty %}
    <label>No
      {{ thing_name }}.</label>
  {% endfor %}
  {% if is_paginated %}
  <p>
    {% include 'dna/_thing_paginator.html' %}
  </p>
  {% endif %}
