{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8"/>
    <meta http-equiv="x-ua-compatible" content="ie=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <title>
      {% block title %}{% endblock title %}
      revelation
    </title>
    <link
      href="https://fonts.googleapis.com/css?family=Montserrat:400,800&display=swap"
      rel="stylesheet"/>
    <link rel="stylesheet" href="{% static '' %}css/revelation.min.css"/>
  </head>
  <body>
  <menu>
    {% with menu_level=page_menu %}
    {% with menu=True %}
    {% include 'revelation/_menu.html' %}
    {% endwith %}
    {% endwith %}
    {% with menu_level=chapters_menu %}
    {% with menu=True %}
    {% include 'revelation/_menu.html' %}
    {% endwith %}
    {% endwith %}
  </menu>
    <h1>
      {% block h1 %}{% endblock h1 %}
    </h1>
    {% block content %}{% endblock content %}
  </body>
</html>
