{% extends 'revelation/base.html' %}
{% load static %}

{% block title %}
  revelation
{% endblock title %}

{% block nav %}{% endblock nav %}

{% block h1 %}{% endblock h1 %}

{% block content %}
  <!-- login in here -->
  <p>
    <a href="{% url 'engage.page' home_page|slugify %}">
      <button><big>engage</big></button>
    </a>
  </p>
{% endblock content %}
