{% extends 'revelation/base.html' %}
{% load static %}

{% block title %}
  {{ thing_name }}
{% endblock title %}

{% block h1 %}
  {{ thing_name }}
{% endblock h1 %}

{% block content %}
  <form enctype="multipart/form-data" method="post">
    {% spaceless %}
    {% include 'dna/_thing_form.html' %}
    {% endspaceless %}
    <p>
      <button type="submit">Update {{ thing_name }}</button>
    </p>
    {% if object.pk %}
      <a href="{{ object.get_absolute_url }}">
        <button type="button">Cancel</button>
      </a>
    {% endif %}
  </form>
{% endblock content %}
