/// theme theme
/// ============================================================================
/// This is your theme file. Other elioSinners can use this theme by importing
/// it into their `judge.scss` file. They provide their own settings.
///
/// @example
///
/// @import '@elioway/theme/stylesheets/theme';
/// ============================================================================
// import your elioSin functions and mixins here.
#{$container} {
  // import your elioSin styles here

  pre {
    background: white;
    padding: $personal-space;
    text-align: center;
  }

  aside {
    border: 1px solid $hell-color;
  }
}
